/*-----------------------------------------------------------------------------------
	    Dp
        Built with Blocs
-----------------------------------------------------------------------------------*/

body{
	margin:0;
	padding:0;
    background:#FFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a:hover{text-decoration: none; cursor:pointer;}

a,button{outline: none!important;} /* Prevent ugly blue glow on chrome and safari */

#page-loading-blocs-notifaction{position: absolute;top: 0;bottom: 0;width: 100%;z-index:100000;background:#FFFFFF url("img/pageload-spinner.gif") no-repeat center center;}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 50px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
}


/* Sizes */

.bloc-xl{
	padding:150px 50px;
}
.bloc-lg{
	padding:100px 50px;
}
.bloc-md{
	padding:50px;
}
.bloc-sm{
	padding:20px 50px;
}


/* Group Styles */

.bloc-group{
	width:100%;
	display:table;
	table-layout: fixed;
}
.bloc-group .bloc{
	position:relative;
	display: table-cell;
	vertical-align: top;
}
.bloc-tile-2{
	width:50%;
}
.bloc-tile-3{
	width:33.33333333%;
}
.bloc-tile-4{
	width:25%;
}
.bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
	width:100%;
}


/* Background Styles */

.bg-center,.bg-l-edge,.bg-r-edge,.bg-t-edge,.bg-b-edge,.bg-tl-edge,.bg-bl-edge,.bg-tr-edge,.bg-br-edge,.bg-repeat{
	-webkit-background-size: auto!important;
	-moz-background-size: auto!important;
	-o-background-size: auto!important;
	background-size: auto!important;
}
.bg-center{
	-webkit-background-size: auto;
}
.bg-repeat{
	background:repeat;
}


/* Background Effects */

.b-parallax{
	background-attachment:fixed;
}


/* Dark theme */

.d-bloc{
	color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
	color:rgba(255,255,255,.9);
}
.d-bloc .icon-round,.d-bloc .icon-square,.d-bloc .icon-rounded,.d-bloc .icon-semi-rounded-a,.d-bloc .icon-semi-rounded-b{
	border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
	border-color:rgba(255,255,255,.2);
}
.d-bloc .a-btn,.d-bloc .navbar a,.d-bloc .navbar-brand, .d-bloc a .icon-sm, .d-bloc a .icon-md, .d-bloc a .icon-lg, .d-bloc a .icon-xl, .d-bloc h1 a, .d-bloc h2 a, .d-bloc h3 a, .d-bloc h4 a, .d-bloc h5 a, .d-bloc h6 a, .d-bloc p a{
	color:rgba(255,255,255,.6);
}
.d-bloc .a-btn:hover,.d-bloc .navbar a:hover,.d-bloc .navbar-brand:hover,.d-bloc a:hover .icon-sm, .d-bloc a:hover .icon-md, .d-bloc a:hover .icon-lg, .d-bloc a:hover .icon-xl, .d-bloc h1 a:hover, .d-bloc h2 a:hover, .d-bloc h3 a:hover, .d-bloc h4 a:hover, .d-bloc h5 a:hover, .d-bloc h6 a:hover, .d-bloc p a:hover{
	color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}
.d-bloc .panel{
	color:rgba(0,0,0,.5);
}
.d-bloc .panel button:hover{
	color:rgba(0,0,0,.7);
}
.d-bloc .panel icon{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .panel .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .panel .a-btn{
	color:rgba(0,0,0,.6);
}
.d-bloc .panel .a-btn:hover{
	color:rgba(0,0,0,1);
}
.d-bloc .panel .btn-wire, .d-bloc .panel .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* Light theme */

.d-bloc .panel,.l-bloc{
	color:rgba(0,0,0,.5);
}
.d-bloc .panel button:hover,.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .panel .divider-h span,.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .panel .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc .navbar-brand,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
	color:rgba(0,0,0,.6);
}
.d-bloc .panel .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc .navbar-brand:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-bloc .panel .btn-wire,.d-bloc .panel .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}

/* Row Margin Offsets */

.voffset{
	margin-top:30px;
}
.voffset-lg{
	margin-top:80px;
}

/* Bloc text custom styling */
/*nikita*/
h1 {
	font-family: "Lato";
	font-weight: 900;
	font-size: 30px;
}

h2 {
	font-family: "Lato";
	font-weight: 400;
	font-size: 24px;
}

h3{
	font-family: "Lato";
	font-weight: 300;
	font-size: 20px;
}

p {
	font-family: "Lato";
	font-weight: normal;
	font-size: 14px;
}
/*#homeheader h3{
	font-family: Lato;
	font-weight: 900;
	font-size: 30px;
}
#homeheader p{
	font-family: Lato;
	font-weight: 400;
	font-size: 24.285714149475098px;
}
#bloc-2 h2{
	font-family: Lato;
	font-weight: 700;
}
#bloc-2 h3{
	font-family: Lato;
	font-weight: 400;
}
#bloc-2 p{
	font-family: Lato;
	font-weight: 400;
}
#bloc-3 h3{
	font-family: Lato;
	font-weight: 300;
}
#bloc-4 h3{
	font-size: 30px;
	font-family: Lato;
	font-weight: 900;
}
#bloc-4 p{
	font-family: Lato;
	font-weight: 400;
	font-size: 24.285714149475098px;
}
#bloc-6 p{
	font-size: 24.285714149475098px;
	font-family: Lato;
	font-weight: 400;
}
#bloc-7 h3{
	font-family: Lato;
	font-weight: 400;
}
#bloc-7 p{
	font-family: Lato;
	font-weight: 400;
	font-size: 14.571428298950195px;
}
#bloc-8 h2{
	font-family: Lato;
	font-weight: 700;
	font-size: 30px;
}
#bloc-8 p{
	font-family: Lato;
	font-weight: 400;
}
#bloc-9 h2{
	font-family: Lato;
	font-weight: 700;
	font-size: 30px;
}
#bloc-9 p{
	font-family: Lato;
	font-weight: 300;
	font-size: 18px;
}
#bloc-9 h3{
	font-family: Lato;
	font-weight: 300;
	font-size: 24px;
}
#bloc-10 h3{
	font-family: Lato;
	font-weight: 900;
	font-size: 30.285715103149414px;
}
#bloc-10 p{
	font-size: 24.285714149475098px;
	font-family: Lato;
	font-weight: 400;
}
#softwaredevelopment h3{
	font-family: Lato;
	font-weight: 400;
}
#softwaredevelopment p{
	font-family: Lato;
	font-weight: 400;
}
#bloc-12 h3{
	font-family: Lato;
	font-weight: 400;
}
#bloc-12 p{
	font-family: Lato;
	font-weight: 400;
}
#bloc-13 h3{
	font-family: Lato;
	font-weight: 400;
}
#bloc-13 p{
	font-family: Lato;
	font-weight: 400;
}
#bloc-14 h3{
	font-size: 30.285715103149414px;
	font-family: Lato;
	font-weight: 900;
}
#bloc-14 p{
	font-family: Lato;
	font-weight: 400;
	font-size: 24.285714149475098px;
}
#bloc-15 p{
	font-family: Lato;
	font-weight: 400;
	font-size: 24px;
}
#bloc-16 p{
	font-family: Lato;
	font-weight: 300;
}
#bloc-17 h3{
	font-family: Lato;
	font-weight: 400;
}
#bloc-17 p{
	font-family: Lato;
	font-weight: 300;
}
#bloc-18 h3{
	font-family: Lato;
	font-weight: 400;
}
#bloc-18 p{
	font-size: 18.285714149475098px;
	font-family: Lato;
	font-weight: 400;
}
#bloc-19 h3{
	font-family: Lato;
	font-weight: 400;
}
#bloc-19 p{
	font-family: Lato;
	font-weight: 400;
}
#bloc-20 h3{
	font-family: Lato;
	font-weight: 400;
}
#bloc-20 p{
	font-family: Lato;
	font-weight: 400;
}
#bloc-21 h3{
	font-size: 30px;
	font-family: Lato;
	font-weight: 900;
}
#bloc-21 p{
	font-size: 24.285714149475098px;
	font-family: Lato;
	font-weight: 400;
}
#bloc-22 h2{
	font-size: 24px;
}
#bloc-22 h3{
	font-family: Lato;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
}
#bloc-23 h2{
	font-size: 24px;
}
#bloc-23 h3{
	font-family: Lato;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
}
#bloc-25 p{
	font-size: 24.285714149475098px;
}
#bloc-26 h3{
	font-family: Lato;
	font-weight: 900;
	font-size: 30.285715103149414px;
}
#bloc-26 p{
	font-family: Lato;
	font-weight: 400;
	font-size: 24.285714149475098px;
}
#bloc-27 h2{
	font-size: 24px;
}
#bloc-27 h3{
	font-family: Lato;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
}
#hrms h2{
	font-size: 24px;
}
#hrms h3{
	font-family: Lato;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
}
#bloc-30 p{
	font-size: 24.285714149475098px;
}
#bloc-31 h3{
	font-size: 30.285715103149414px;
	font-family: Lato;
	font-weight: 900;
}
#bloc-31 p{
	font-family: Lato;
	font-weight: 400;
}
#bloc-35 h3{
	font-family: Lato;
	font-weight: 900;
	font-size: 30.285715103149414px;
}
#bloc-35 p{
	font-size: 24.285714149475098px;
	font-family: Lato;
	font-weight: 400;
}
#bloc-36 p{
	font-family: Lato;
	font-weight: 400;
	font-size: 24.285714149475098px;
}
#bloc-38 h3{
	font-family: Lato;
	font-weight: 400;
}
#bloc-38 p{
	font-family: Lato;
	font-weight: 400;
}
#bloc-39 h3{
	font-family: Lato;
	font-weight: 400;
}
#bloc-39 p{
	font-family: Lato;
	font-weight: 400;
}
#bloc-40 p{
	font-size: 10px;
}*/

/* = NavBar
-------------------------------------------------------------- */

.navbar{
	margin-bottom: 0;
	z-index:1;
}
.navbar-brand{
	height:auto;
	padding:15px 15px;
	font-size:25px;
	font-weight:normal;
	font-weight:600;
}
.navbar-brand img{
	max-height: 200px;
	margin: 0 5px 0 0;
	display:inline;
}
.navbar-brand{
	padding: 15px 15px;
}
.navbar .nav{
	padding-top: 2px;
	margin-right: -16px;
	float:right;
	z-index:1;
}
.nav > li{
	float:left;
	margin-top:4px;
	font-size:16px;
}
.navbar-nav .open .dropdown-menu > li > a{
	text-align: inherit;
}
.nav > li a:hover, .nav > li a:focus{
	background:transparent;
}
.navbar-toggle{
	margin: 10px 10px 0 0;
	border: 0px;
}
.navbar-toggle:hover{
	background:transparent!important;
}
.navbar-toggle .icon-bar{
	background-color: rgba(0,0,0,.5);
	width: 26px;
}
 /* Inverted navbar */

.nav-invert .navbar .nav{
	float:left;
}
.nav-invert .navbar-header, .nav-invert .navbar-brand{
	float:right;
}
@media (min-width: 768px){
	.site-navigation{
		position:absolute;
		top:50%;
		right:20px;
		transform:translate(0, -50%);
		-webkit-transform:translateY(-50%);
	}
	.nav > li .dropdown-menu a,.nav > li .dropdown-menu a:hover{
		color:#484848;
	}
	.nav-invert .site-navigation{
		left:20px;
		right:0;
	}
	.nav-center{
		text-align:center;
	}
	.nav-center .navbar-header{
		width:100%;
	}
	.nav-center .navbar-header, .nav-center .navbar-brand, .nav-center .nav > li{
		float: none;
		display:inline-block;
	}
	.nav-center .site-navigation{
		position:relative;
		width:100%;
		margin-top:20px;
	}
}
.nav > li > .dropdown a{
	background: none!important;
	display: block;
	padding: 14px 15px;
}

nav .caret{
	margin: 0 5px;
}
/* Dropdown Menus SubMenu */
	.dropdown-menu .dropdown-menu{
	top:-8px;
	left:100%;
}
.dropdown-menu .dropmenu-flow-right{
	top:100%;
	left:0;
	margin-left: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.dropdown-menu .dropdown span{
	border: 4px solid black;
	border-top-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
	margin: 6px -5px 0 0!important;
	float: right;
}

/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn{
	margin: 0 5px 5px 0;
}
.btn.pull-right{
	margin: 0 0 5px 5px;
}
.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.icon-spacer{
	margin-right:5px;
}
.btn .caret{
	margin:0 0 0 5px}.dropdown a .caret{
	margin:0 0 0 5px}.btn-dropdown .dropdown-menu .dropdown{
	padding: 3px 20px;
}

/* = Icons
-------------------------------------------------------------- */
.icon-sm{
	font-size:18px!important;
}
.icon-md{
	font-size:30px!important;
}
.icon-round{
	margin:0 auto;
	border:2px solid transparent;
	border-radius: 50%;
	padding: 32px 30px 26px 30px;
	min-width:80px;
}
.icon-round,.icon-md,.icon-square.icon-md,.icon-rounded.icon-md{
	min-width: 92px;
}
.icon-round.icon-lg,.icon-square.icon-lg,.icon-rounded.icon-lg{
	min-width: 122px;
}
.icon-round.icon-xl,.icon-square.icon-xl,.icon-rounded.icon-xl{
	min-width: 162px;
}




.panel-sq, .panel-sq .panel-heading, .panel-sq .panel-footer{
	border-radius:0;
}
.panel-rd{
	border-radius:30px;
}
.panel-rd .panel-heading{
	border-radius:29px 29px 0 0;
}
.panel-rd .panel-footer{
	border-radius:0 0 29px 29px;
}



/* iFrame */

iframe{
	border:0;
}


/* ScrollToTop button */

.scrollToTop{
	width:40px;
	height:40px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}
.scrollToTop span{
	margin-top: 6px;
}
.showScrollTop{
	font-size: 14px;
	opacity: 1;
}

/* = Custom Styling
-------------------------------------------------------------- */

/*nikita*/
/*h1,h2,h3,h4,h5,h6,p,label,.btn,a{
	font-family:"Helvetica";
}*/
.container{
	max-width:1170px;
}
.device-bloc-text-vc{
	font-size:50px;
	margin-top:50%;
}
.hero-bloc-text{
	font-size:55px;
}
.hero-bloc-text-sub{
	font-size:36px;
}
.lake-hero-bloc{
}
.lake-hero-text{
	/*font-family:"Josefin Sans";*/
	/*nikita*/
	font-family: "Lato";
	font-size:60px;
	font-weight:bold;
	text-shadow:0px 3px 3px rgba(0,0,0,0.3);
}
.lake-hero-text-sub{
	/*font-family:"Josefin Sans";*/
	/*nikita*/
	font-family: "Lato";
	font-size:36px;
}
.blocs-hero-btn-dwn{
	background-color:rgba(0,0,0,0.0);
}
/*nikita*/
/*.blocs-team-title{
	color:#1d1d1d;
	font-size:50px;
	font-family:"Lato";
	font-weight:300;
}*/
.blocs-team-header{
	color:#1d1d1d;
	font-size:38px;
	font-family:"Lato";
	font-weight:300;
}
.blocs-team-sub{
	font-size:18px;
	font-family:"Lato";
	font-weight:500;
}
.h3{
}
.p{
}
.maingeader{
}
.mainheader{
}
.build-with-blocs-bloc{
	background-color:#000;
	color:rgba(255,255,255,0.4);
}
.build-with-blocs-bloc p{
	font-size:11px;
	/*font-family:"helvetica";*/
	/*nikita*/
	font-family: "Lato";
	font-weight:bold;
	color:rgba(255,255,255,0.8);
}
.stat-bloc-text{
	font-size:44px;
	text-align:center;
	font-weight:bold;
}
.stat-bloc-sub-text{
	font-size:16px;
	text-align:center;
	text-transform:uppercase;
}

/* = Colour
-------------------------------------------------------------- */

/* Background colour styles */

.bgc-white{
	background-color:#ffffff;
}
.bgc-cerulean{
	background-color:#1073AC;
}
.bgc-white-smoke{
	background-color:#F5F4F6;
}
.bgc-gainsboro{
	background-color:#DFDFDF;
}
/* Text colour styles */

.tc-cerulean{
	color:#1073AC!important;
}
.tc-white{
	color:#ffffff!important;
}
.tc-android-green{
	color:#A6CE38!important;
}
.tc-gainsboro{
	color:#DFDFDF!important;
}
.bgc-{
	background-color:#000000;
}
/* Icon colour styles */

.icon-android-green{
	color:#A6CE38!important;
	border-color:#A6CE38!important;
}
.icon-cerulean{
	color:#1073AC!important;
	border-color:#1073AC!important;
}
.icon-cool-grey381{
	color:#1073AC!important;
	border-color:#1073AC!important;
}

/* Bloc image backgrounds */

.bg-dots-bg{
	background-image:url("img/dots-bg.png");
}
.bg-neha{
	background-image:url("img/neha.jpg");
}
.bg-lake{
	background-image:url("img/lake.jpg");
}
.bg-valley{
	background-image:url("static/img/valley.jpg");
}
.bg-camera{
	background-image:url("img/camera.jpg");
}
.bg-path-overlay{
	background-image:url("img/path-overlay.png");
}
.bg-city{
	background-image:url("img/city.jpg");
}
.bg-camera-overlay{
	background-image:url("img/camera-overlay.png");
}
.bg-dots-bg{
	background-image:url("img/dots-bg.png");
}
.bg-v2{
	background-image:url("img/v2.png");
}
.bg-analytics{
	background-image:url("img/analytics.jpg");
}
.bg-crm{
	background-image:url("img/crm.jpg");
}
.bg-camera-overlay{
	background-image:url('img/camera-overlay.png');
}
.bg-city{
	background-image:url('img/city.jpg');
}
.bg-city-overlay{
	background-image:url('img/city-overlay.png');
}
.bg-v2{
	background-image:url('img/v2.png');
}



/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc{
        padding-left: 20px; 
        padding-right: 20px;  
    }
}
@media (max-width: 768px)
{
    .container{width:100%;}
    .b-parallax{background-attachment:scroll;}
    .page-container, #hero-bloc{overflow-x: hidden;position: relative;} /* Prevent unwanted side scroll on mobile */  
}
@media (max-width: 767px)
{
    .page-container{
        overflow-x: hidden;
        position:relative;
    }
    h1,h2,h3,h4,h5,h6,p{
        padding-left:10px!important; 
        padding-right:10px!important; 
    }
    #hero-bloc h1{
        font-size:40px;
    }
    #hero-bloc h2{
        font-size:34px;
    }
    #hero-bloc h3{
        font-size:25px;
    }
    .bloc{
        padding-left: 0; 
        padding-right: 0;  
        -webkit-background-size: auto 200%;
        -moz-background-size: auto 200%;
        -o-background-size: auto 200%;
        background-size: auto 200%;
    }
    .b-parallax{
        background-attachment:scroll;
    }
    .navbar .nav{
        padding-top: 0;
        border-top:1px solid rgba(0,0,0,.2);
        float:none!important;
    }
    .navbar.row{
        margin-left: 0;
        margin-right: 0;
    }
    .site-navigation{
	   position:inherit;
	   transform:none;
	   -webkit-transform:none;
	   -ms-transform:none;
    }  
    .nav > li{
        margin-top: 0;
        border-bottom:1px solid rgba(0,0,0,.1);
        background:rgba(0,0,0,.05);
        text-align: left;
        padding-left:15px;
        width:100%;
    }
    .nav > li:hover{
        background:rgba(0,0,0,.08);
    }
    .dropdown .dropdown a .caret{   
        float: none;
        margin: 5px 0 0 10px!important;
        border: 4px solid black;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    
    #hero-bloc .navbar .nav{
        background:rgba(0,0,0,.8);
    }
    #hero-bloc .navbar .nav a{
        color:rgba(255,255,255,.6);
    }
    .hero{
        padding:50px 0;
    }
    .hero-nav{
        left:-1px;
        right:-1px;
    }
    .navbar-collapse{
        padding:0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img{
        max-height: 40px;
        width:auto;
        margin: -10px 10px 0 0;    
    }
    .nav-invert .navbar-header{
        float: none;
        width:100%;
    }
    .nav-invert .navbar-toggle{
        float:left; 
    }
    .bloc-group .bloc{
         display:block;
         width:100%;
     }
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
	   padding-left: 10px;
	   padding-right: 10px;
    }
    .bloc-xxl,.bloc-xl,.bloc-lg{
        padding: 40px 0;
    }
    .bloc-sm,.bloc-md{
        padding-left: 0; 
        padding-right: 0;
    }
    .a-block{
        padding:0 10px;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .video-bg-contianer{
        display:none;
    }
    .blocsapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .blocsapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}@media (max-width: 768px){
	.homelogo, .mobile .homelogo{
}
.homemenu, .mobile .homemenu{
}
.whybuild, .mobile .whybuild{
}
.whybuildicon, .mobile .whybuildicon{
}
.whybuildcontent, .mobile .whybuildcontent{
}
.sater, .mobile .sater{
}
.whyfaster, .mobile .whyfaster{
}
.whyfastericon, .mobile .whyfastericon{
}
.whyfastercontent, .mobile .whyfastercontent{
}
.whyclean, .mobile .whyclean{
}
.whycleaniicon, .mobile .whycleaniicon{
}
.whycleancontet, .mobile .whycleancontet{
}
.whyoptimized, .mobile .whyoptimized{
}
.whyoptimizedicon, .mobile .whyoptimizedicon{
}
.whyoptimizedcontent, .mobile .whyoptimizedcontent{
}
.whyscalable, .mobile .whyscalable{
}
.whyscalablecontent, .mobile .whyscalablecontent{
}
.whyscalableicon, .mobile .whyscalableicon{
}
.whyfriendly, .mobile .whyfriendly{
}
.whyfriendlyicon, .mobile .whyfriendlyicon{
}
.whyfriendlycontent, .mobile .whyfriendlycontent{
}
.homeourcause, .mobile .homeourcause{
}
}
@media (max-width: 420px){
	.lake-hero-text{
	font-size:38px;
}
.lake-hero-text-sub{
	font-size:24px;
}
.lake-hero-bloc{
	background-size:1550px auto;
}
}

.contactbtn {
    margin-top: 30vh !important;
}


/*Nikita*/
.et-icon-megaphone:before,
.et-icon-ribbon:before, 
.et-icon-layers:before, 
.et-icon-gears:before,
.et-icon-bargraph:before,
.fa-star:before,
.et-icon-focus:before {
    margin-right: 15px;
}

.strategy {
	font-size: 14px
}

.strategy span {
	font-size: 16px;
}

.footer-bkg {background-color: #F5F4F6}

@media all and (min-width: 0px) and (max-width: 979px){
	.team-img img {width:100vw;}
	.contactus {padding: 0 0 0 93px;}
}

