<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Multiple Images Upload</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<form method = "POST" action ="" enctype="multipart/form-data"> 
			{% csrf_token %}
			<label for ="pri_email" > Enter your Email : </label>
			<input type = "email" value ="" name ="pri_email" placeholder ="Enter email"/><br>
			<label for ="image_name" > Profile picture : </label>
			<input type = "file" value ="" name ="image_name" multiple/><br>
			<label for ="address1" > Correspondance Address : </label> <br>
			<input type = "text" value ="" name ="address1" placeholder ="Address 1 "/><br>
			<input type = "text" value ="" name ="address2" placeholder ="Address 2"/><br>
			<input type = "text" value ="" name ="city" placeholder ="City"/><br>
			<input type = "text" value ="" name ="pin" placeholder ="Pincode"/><br>
			<input type = "text" value ="" name ="country" placeholder ="Country"/><br>
			<input type ="submit" value="Submit" class = "btn btn-primary"/>
		</form>
	</body>
</html>