{% load static %}
<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="keywords" content="DigitalPrizm, ERP, CRM, HRM, BI, Data Analytics, Software Development, Mobile Development, Grapp">
	    <meta name="description" content="Digital Prizm is a leading software development company with its presence in  5 countries. Digitalprizm specialised in custom application development to improve the productivity of companies. ">
	    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	    <link rel="shortcut icon" type="image/png" href="favicon.png" />
	    
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
		<link rel='stylesheet' href="{% static 'css/font-awesome.min.css' %}"/>
		<link rel='stylesheet' href="{% static 'css/et-line.min.css' %}"/>
		<link href="{% static 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin,latin-ext' %}" rel='stylesheet' type='text/css'>
	    
		<script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/blocs.min.js' %}"></script>
	    <title>Digital Prizm | Contact Us</title>

	</head>
	<body>
		<!-- Main container -->
		<div class="page-container">
		    
		<!-- bloc-0 -->
		<div class="bloc bgc-white l-bloc" id="bloc-0">
			<div class="container bloc-sm">
				<nav class="navbar row">
					<div class="navbar-header">
						<a class="navbar-brand" href="index.html"><img src="{% static 'img/logo%20Artwork_only%20logo.png' %}" alt="logo" width="160" /></a>
						<button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
							<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse navbar-1">
						<ul class="site-navigation nav navbar-nav">
							<li>
								<a href="index.html">Home</a>
							</li>
							<li>
								<a href="about.html">About</a>
							</li>
							<li>
								<div class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Services<span class="caret"></span></a>
									<ul id="newBlocMenuGenerate" class="dropdown-menu" role="menu">
										<li>
											<a href="big-data.html">Big Data</a>
										</li>
										<li>
											<a href="mobile-development.html">Mobile Development</a>
										</li>
										<li>
											<a href="software-development.html">Software Development</a>
										</li>
									</ul>
								</div>
							</li>
							
							<li>
								<div class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Products<span class="caret"></span></a>
									<ul id="newBlocMenuGenerate" class="dropdown-menu" role="menu">
										<li>
											<a href="crm.html">CRM</a>
										</li>
										<li>
											<a href="hrm.html">HRM</a>
										</li>
										<li>
											<a href="erp.html">ERP</a>
										</li>
										<li>
											<a href="http://www.grapp.sg" id="pl-undefined">GRAPP</a>
										</li>
									</ul>
								</div>
							</li>
							
							<!-- <li>
								<a href="contact-us.html">Contact Us</a>
							</li> -->
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- bloc-0 END -->
		
		<!-- Bloc Group -->
		<div class='bloc-group'>

		<!-- bloc-33 -->
		<div class="bloc bloc-tile-2 bgc-white l-bloc" id="bloc-33">
			<div class="container bloc-lg">
				<div class="row">
					{% for con in instance %}
					<div class="col-sm-12">
						<h3 class="mg-md tc-cerulean">
							<span class="et-icon-focus"></span> {{con.country}}
						</h3>
						<p>
							{{con.address1}}{{con.address2}}<br/>{{con.city}},{{con.pin}}
						</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		
				<!-- <div class="row voffset">
					<div class="col-sm-12">
						<h3 class="mg-md tc-cerulean">
							<span class="et-icon-focus">UAE</span>
						</h3>
						<p>
							PO Box 213376, Bay Square - 02, Office No 202<br />Business Bay, Dubai , UAE
						</p>
					</div>
				</div>
				<div class="row voffset">
					<div class="col-sm-12">
						<h3 class="mg-md tc-cerulean">
							<span class="et-icon-focus"></span> INDIA
						</h3>
						<p>
							No 402, Sai Ram Apartment, Vanaj Corner<br />Kothrud, Pune, Maharashtra 41104
						</p>
					</div>
				</div>
				<div class="row voffset">
					<div class="col-sm-12">
						<h3 class="mg-md tc-cerulean">
							<span class="et-icon-focus"></span> CHINA
						</h3>
						<p>
							10 Guiya Road, Qingxiu District,<br />Nanning, Guanxi #24 - 03, China 530000
						</p>
					</div>
				</div>
				<div class="row voffset">
					<div class="col-sm-12">
						<h3 class="mg-md tc-cerulean">
							<span class="et-icon-focus"></span> THAILAND
						</h3>
						<p>
							62 Diamond, Residence R807,<br />Huai Khwang, Bangkok 10310
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- bloc-33 END --> 

		<!-- bloc-34 -->
		{% for con in instance2 %}
		<div class="bloc bloc-tile-2 bgc-white l-bloc" id="bloc-34" > 
			
			<div class="container bloc-lg" style="background-image:url({{con.pri_image.url}})">
				<div class="row">
					
					<div class="col-sm-12">
						<div class="text-center contactbtn">
							<a href="index.html" class="btn  btn-d  btn-lg"><span class="et-icon-envelope icon-spacer icon-android-green"></span>{{con.pri_email}}</a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- bloc-34 END -->
		</div>
		<!-- Bloc Group END -->

		<!-- ScrollToTop Button -->
		<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
		<!-- ScrollToTop Button END-->


		<!-- Footer - bloc-40 -->
		<div class="bloc tc-cool-grey bgc-white l-bloc" id="bloc-40">
			<div class="container bloc-sm">
				<div class="row">
					<div class="col-sm-12">
						<p class=" text-center">
							© 2011-2016 Digital Prizm.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer - bloc-40 END -->
		</div>
		<!-- Main container END -->
		    
	</body>
    
<!-- Google Analytics -->
 
<!-- Google Analytics END -->

</html>