<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Multiple Images Upload</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<form method = "POST" action ="" enctype="multipart/form-data"> {% csrf_token %}
			<input type = "text" value ="" name ="image_name" placeholder ="Title"/>
			<input type = "file" value ="" name ="files" multiple/> 
			<!-- {{form.as_p}} -->
			<input type ="submit" value="Upload" class = "btn btn-primary"/>
		</form>
	</body>
</html>